# Ignore all target directories
**/target/

# Ignore all Cargo.lock files
**/Cargo.lock

# Ignore all log.txt files
**/log.txt

# Ignore certificate files in certs directory
**/crt.pem
**/dvt.crt
**/dvt.key

cert/
