# Ignore all target directories
**/target/

# Ignore all Cargo.lock files
**/Cargo.lock

# Ignore all log.txt files
**/log.txt

# Ignore all net_cfg.rs files
**/net_cfg.rs

# Ignore certificate files in certs directory
cert/dvt.crt
cert/dvt.key
cert/ca.crt

