# Ignore all target directories
**/target/

# Ignore all Cargo.lock files
**/Cargo.lock

# Ignore all log.txt files
**/log.txt

# Ignore certificate files in certs directory

cert/
cert/*

cert/dvt.crt
cert/dvt.key
cert/ca.crt
cert/